* {
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

:root {
    --blue: rgb(12, 94, 216);
    --green: rgb(2, 161, 161);
}

/* footer */

footer {
    background-color: black;
    color: grey;
    font-size: 15px;
    padding: 20px;
}